@tailwind base;
@tailwind components;
@tailwind utilities;
dt{    
    @apply text-sm font-bold text-gray-700;    
}

dd{
    @apply mb-3 pb-3 border-b pl-3;
}

table {
    border-collapse: collapse;
    
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 3px;
    text-align: left;
}